<%function b(){
  return 'Chao cac ban'
}%>
<%var a = 100%>
<h1><%= `Xin chao ${name}: ${age} ${a}`%></h1>
<p><%= b() %></p>
<form action="/xulypheptinh" method="post">
  <input type="number" name="soa" placeholder="Số a"/>
  <br/><br/>
  <select name="pheptinh">
    <option>-Chọn phép tính-<option>
    <option value="cong">+</option>
    <option value="tru">-</option>
    <option value="nhan">*</option>
    <option value="chia">%</option>
  </select>
  <br/><br/>
  <input type="number" name="sob" placeholder="Số b"/>
  <br/><br/>
  <input type="submit" value="Tính">
</form>
